body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

html, body, .footerPushDown {
  height: 100%;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.band.full {
  position: relative;
}

.band.full.first {
  height: 550px;
}

.band.full.second {
  height: 480px;

  overflow: hidden;
}

.band.full.third {
  height: 480px;
}

.bandContent, .standardPadding .articleBandContent {
  margin: 0 auto;
  max-width: 1140px;
}

.vCenter {
  position: relative;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightText .vCenter {
  align-items: flex-end;
}

.band .imageOne {
  position: absolute;
  left: 0px;
  bottom: 100px;
  width: 610px;
  height: auto;

  z-index: 5;
}

.band .imageTwo {
  position: absolute;
  top: 1%;
  right: 10px;
  width: 45%;
  height: 95%;
}

.band .imageThree {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 500px;
  height: auto;
  z-index: 5;
}


#mainHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  z-index: 100;
  padding: 0 5%;
/*
  color: #fff;
}
#mainHeader.shrunk, #mainHeader.alwaysShrunk {
  color: inherit;
*/
  background-color: rgba(255, 255, 255, .98);

  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
}

#mainHeader .innards {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#mainHeader.shrunk .innards, #mainHeader.alwaysShrunk .innards {
  padding: 9px 0;
}

#mainHeader .productName {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 40px;
  color: inherit;

  white-space: nowrap;

  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;

  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

#mainHeader .productName:hover {
  text-decoration: none;
}

#mainHeader.shrunk .productName, #mainHeader.alwaysShrunk .productName {
  display: inline-block;
  font-size: 30px;
}

#mainHeader #menu {
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  white-space: nowrap;
}

#mainHeader #menu #menuToggler {
  display: none;
}

#mainHeader #menu #menuItems {
  display: block;
}

#mainHeader #menu .menuItem {
  display: inline-block;
  padding: 10px 15px;
  opacity: .8;
  cursor: pointer;

  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;

  color: inherit;
}

#mainHeader #menu .menuItem:hover {
  opacity: 1;
  text-decoration: none;
}

#mainHeader #menu .menuItem.gitHub {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px 0px 0px 10px;

  background-image: url("/images/github.svg");
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-color: #cccccc;
  background-position: center center;

  vertical-align: bottom;
}

#mainHeader #menu .menuItem.gitHubText {
  display: none;
}


#homeContent, #pageContent {
  position: relative;
  z-index: 1;
  min-height: 100%;
  /*margin-bottom: -91px;   height of footer */
}

#homeContent:after, #pageContent:after {
  content: "";
  /*height: 91px;  height of footer */
  display: block;
}

.standardPadding {
  padding: 80px 5%;
}




#homeContent .tagline {
  padding-top: 100px;
  font-size: 32px;
  margin-bottom: 16px;
}

#homeContent a {
  text-decoration: none;
  color: #2780e3;
}

#homeContent .blue a {
  color: #fcbf49;
  font-weight: normal;
}


#homeContent a:hover {
  text-decoration: underline;
}

#homeContent .band {
  padding: 0 5%;
}

#homeContent .band.gray1 {
  background-color: #f8f8f8;
}

#homeContent .band.blue {
  background-color: #75aadb;
  color: #fff;
}

#homeContent .band.orange {
  background-color: #e6553a;
  color: #fff;
}
#homeContent .band.sparkle {
  background-color: #4c5c68;
  color: #fff;
}
#homeContent .band.cgblue {
  background-color: #1985A1;
  color: #fff;
}
#homeContent .band.lgrey {
  background-color: #C5C3C6;
  color: #fff;
}
#homeContent .band.leftText {
  text-align: left;
}

#homeContent .band.rightText {
  text-align: right;
}

#homeContent .band .blurb {
  display: inline-block;
  text-align: left;
  max-width: 505px;
  line-height: 40px;
  min-height: 160px;
  font-size: 25px;
}

#homeContent .band .actions {
  margin-top: 20px;
}

#homeContent .band .actions div {
  display: inline-block;
}

#homeContent .bigButton {
  padding: 20px 40px;
  font-size: 20px;
  border: none;

  border-radius: 5px;
  margin: 5px;
  margin-top: 40px;
}

#homeContent .bigButton.github {
  color: #fff;
  background-color: #8cb06c;
}

#homeContent .bigButton.getStarted {
  color: #fff;
  background-color: #75aadb;
}

/* adjustments for smaller screens */

@media screen and (max-width: 1200px){

  .band .imageOne {
    width: 470px;
    bottom: 100px;
    left: -25px;
  }

  .band .imageThree {
    width: 470px;
    left: 0px;
  }
}

@media screen and (max-width: 1023px){

  #mainHeader .productName {
    font-size: 30px;
  }

  #mainHeader .innards {
    align-items: flex-start;
  }

  #mainHeader #menu #menuToggler {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(images/menu.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
  }

  #mainHeader #menu #menuItems {
    display: none;
  }

  #mainHeader #menu #menuItems.showMenu {
    display: block;
  }

  #mainHeader #menu .menuItem {
    display: block;
    line-height: 30px;
    text-align: left;
  }

  #mainHeader #menu .menuItem.gitHub {
    display: none;
  }

  #mainHeader #menu .menuItem.gitHubText {
    display: block;
  }

  #homeContent {
    overflow-x: hidden;
  }

  .band.full.first, .band.full.second, .band.full.third {
      height: auto;
  }

  .vCenter {
    position: relative;
    height: auto;
    min-height: 0;
    display: block;
    padding: 100px 0px;
  }

  .third .vCenter {
    padding-top: 10px;
  }

  #homeContent .band.rightText, #homeContent .band.leftText {
    text-align: center;
  }

  #homeContent .band .blurb {
    text-align: center;
  }

  .band .imageOne {
    position: relative;
    max-width: 120%;
    bottom: auto;
    left: auto;
    top: -50px;
  }

  .band .imageTwo {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 100px;
  }

  .band .imageThree {
    position: relative;
    left: auto;
    bottom: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px){
  .lessonPage {
    display: block;
  }
}

@media screen and (max-width: 350px){

    #mainHeader .productName {
      font-size: 26px;
    }
}